body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #676767;
  -webkit-font-smoothing: antialiased; }

.panel, .btn {
  border-radius: 0; }

img {
  max-width: 100%; }

.navbar.navbar-default {
  background-color: #fff;
  border-bottom: 1px solid #E9E9E9; }
.navbar .navbar-brand {
  height: auto;
  padding: 10px 15px; }
.navbar .navbar-nav, .navbar .navbar-toggle {
  margin-top: 17px;
  margin-bottom: 0; }
.navbar .navbar-nav li a {
  padding-bottom: 5px; }
  .navbar .navbar-nav li a:hover {
    border-bottom: 3px solid #68b0c7; }

.parallax {
  width: 100%;
  height: 670px; }
  .parallax .parallax-text {
    position: absolute;
    display: block;
    top: 200px;
    left: 50%;
    width: 100%;
    z-index: 22;
    max-width: 800px;
    margin-left: -400px;
    text-align: center; }
    .parallax .parallax-text h1 {
      color: #fff;
      font-size: 70px;
      font-weight: 400; }
    .parallax .parallax-text p {
      background: rgba(29, 191, 238, 0.5);
      color: #fff;
      font-size: 19px;
      display: inline-block;
      padding: 5px 10px; }
  .parallax .parallax-image {
    background-color: #6651a1;
    background-image: url(../img/parralax-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    background-position: center center;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; }

.site-content {
  position: relative;
  background: #fff; }

h3 {
  color: #fff;
  background: #1dbfee;
  padding: 16px;
  display: inline-block;
  font-size: 19px;
  position: relative;
  text-align: center; }
  h3:after {
    content: "";
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 10px solid #1dbfee;
    position: absolute;
    bottom: -18px;
    left: 50%;
    margin-left: -10px; }
  h3.ft-header {
    margin-top: -20px; }
  h3.ft-center {
    margin: 0 auto;
    width: 152px;
    display: block;
    top: -20px; }
  h3.ft-right {
    margin-bottom: 30px; }
    h3.ft-right:after {
      border: 10px solid transparent;
      border-left: 10px solid #1dbfee;
      bottom: 50%;
      left: auto;
      right: -18px;
      margin-left: 0;
      margin-bottom: -10px; }

.custom-list {
  list-style-image: url("../img/list-item.png"); }
  .custom-list li {
    padding: 7px 0; }

.feature {
  overflow: hidden;
  padding: 15px 15px 10px; }
  .feature .feature-icon {
    float: left;
    padding: 10px;
    color: #1dbfee;
    font-size: 35px;
    text-align: center;
    min-width: 58px; }
  .feature .ft-content {
    padding: 0 15px;
    overflow: hidden; }

.feature-expanded {
  border: 1px solid #ddd;
  margin-top: 20px;
  margin-bottom: -21px;
  padding: 15px 0; }
  .feature-expanded .feature-icon {
    padding-top: 0; }
  .feature-expanded p {
    text-align: justify;
    padding-left: 60px; }
  .feature-expanded ul {
    padding-left: 90px; }

.see-all {
  padding: 10px 0;
  margin-bottom: 30px; }
  .see-all a {
    padding: 10px;
    background: #6751a2;
    color: #fff;
    font-size: 16px; }
    .see-all a:hover {
      background: #514080;
      text-decoration: none; }
    .see-all a .glyphicon {
      color: #1dbfee;
      vertical-align: middle;
      padding-left: 5px; }

.carousel-description {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center; }

.content-background {
  background: #efefef;
  margin-top: 40px;
  padding-bottom: 30px; }

.top-30 {
  padding-top: 30px; }

.info-content {
  padding: 20px;
  overflow: hidden; }
  .info-content .info-item {
    background: #efefef;
    float: left;
    padding: 0  10px 10px;
    font-size: 35px;
    text-align: center;
    margin-top: -10px;
    margin-right: -20px;
    font-weight: 700; }
    .info-content .info-item.red {
      color: #b31e1e; }
    .info-content .info-item.pink {
      color: #d3438f; }
    .info-content .info-item.purple {
      color: #7a83b2; }
    .info-content .info-item.green {
      color: #4eaf8e; }
  .info-content p {
    padding: 0 0 0 30px;
    overflow: hidden;
    border-left: 1px solid #b5b5b5; }

.team {
  padding-top: 40px;
  background: url(../img/bg-team.png) right -90px no-repeat; }
  .team .media {
    padding-bottom: 30px; }

.projects {
  margin-top: 40px;
  padding-bottom: 10px; }
  .projects .projects-item {
    margin-top: 10px; }
  .projects .thumbnail {
    border-radius: 0;
    padding: 0;
    border: 0; }
  .projects .caption {
    color: #676767;
    padding: 10px 0;
    text-align: justify; }
  .projects .thumb-link {
    position: relative;
    display: block; }
    .projects .thumb-link span {
      background: #666;
      color: #fff;
      position: absolute;
      left: 0;
      top: 10px;
      padding: 5px;
      font-size: 11px;
      z-index: 2; }
    .projects .thumb-link img {
      max-width: 100%;
      display: block; }
    .projects .thumb-link:hover:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.2;
      z-index: 1; }

.blog {
  margin-top: 40px;
  padding-bottom: 30px;
  border-top: 1px solid #ddd; }
  .blog h4 a {
    color: #676767; }
    .blog h4 a:hover {
      color: #333; }
  .blog h4 span {
    background: #d7d7d7;
    line-height: 23px;
    box-shadow: 5px 0 0 #d7d7d7, -5px 0 0 #d7d7d7; }

.footer {
  background: #1dbfee; }
  .footer #map {
    display: block;
    width: 100%;
    height: 300px;
    margin: 0 auto; }
  .footer h3 {
    margin: 0;
    z-index: 999; }
  .footer .contact-info {
    margin-top: -200px; }
    .footer .contact-info .contact-column {
      background: #fff;
      padding: 10px;
      height: 160px; }
      .footer .contact-info .contact-column h4 {
        color: #1dbfee; }
      .footer .contact-info .contact-column a {
        color: #30da23;
        text-decoration: underline; }
      .footer .contact-info .contact-column.right {
        background: #efefef; }
        .footer .contact-info .contact-column.right h4 {
          color: #676767; }
  .footer .social-media a {
    text-indent: -9999px;
    position: relative;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 5px;
    background-image: url(../img/social-media.png);
    background-repeat: no-repeat; }
    .footer .social-media a.fb {
      background-position: 0 0; }
    .footer .social-media a.tw {
      background-position: -30px 0; }
    .footer .social-media a.gplus {
      background-position: -60px 0; }
    .footer .social-media a.lnkd {
      background-position: -90px 0; }
  .footer .copy {
    background: #4a4a4a;
    color: #fff;
    padding: 15px 0 5px; }

/* Override bootstrap carousel */
.carousel .carousel-indicators {
  bottom: 0;
  margin-bottom: 0; }
  .carousel .carousel-indicators li {
    border: 1px solid #A0A0A0; }
    .carousel .carousel-indicators li.active {
      background: #a0a0a0; }
.carousel .carousel-control {
  color: #676767;
  width: 30px;
  text-shadow: none;
  background-image: none !important;
  background: #fff;
  height: 30px;
  top: 50%;
  margin-top: -15px; }
  .carousel .carousel-control .glyphicon-chevron-left,
  .carousel .carousel-control .glyphicon-chevron-right {
    top: 5px; }
  .carousel .carousel-control .glyphicon-chevron-left {
    left: 5px; }
  .carousel .carousel-control .glyphicon-chevron-right {
    right: 5px; }

@media (max-width: 768px) {
  .navbar-brand img {
    width: 60px;
    height: auto; }

  .parallax {
    height: 500px;
    margin-bottom: -100px; }
    .parallax .parallax-image {
      background-position: center -100px;
      background-image: url(../img/parralax-bg-mobile.jpg);
      position: relative; }
    .parallax .parallax-text {
      top: 60px;
      left: 0;
      margin-left: auto; }
      .parallax .parallax-text h1 {
        font-size: 50px; }

  .ft-left {
    max-width: 300px;
    display: block;
    margin: 0 auto; }

  .feature-expanded .feature .feature-icon {
    float: none;
    padding: 10px 10px 10px 0; }
  .feature-expanded .feature p {
    padding-left: 0; }
  .feature-expanded .feature ul {
    padding-left: 30px; }

  .team {
    padding-top: 0; }

  .footer .map {
    display: none; }
  .footer .contact-info {
    margin-top: 0; } }

/*# sourceMappingURL=landing-page.css.map */
